@import "/src/styles/scss/variables";

.skill {
  width: 300px;
  margin-top: 10px;

  .icon {
    img {
      width: 70px;
      height: 70px;
      background-color: $bgSecondColor
    }
  }

  .description {
    word-wrap: break-word;
    color: $textColor;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
    color: $primaryColor;
  }
}