.skill{
    width: 300px;
    background-color: #917375;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.icon{
    width: 60px;
    height: 60px;
    background-color: darkslategrey;
}
.description{
   word-wrap: break-word;
}