@import "/src/styles/scss/variables";

.skill {
  width: 300px;
  margin-top: 10px;
  margin-right: 10px;
  .icon {
    img {
      width: 70px;
      height: 70px;
    }
  }

  .description {
    word-wrap: break-word;
    color: $textColor;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
    color: $primaryColor;
  }

  .title{
    display: flex;
    color: $primaryColor;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 4px;
    padding-top:  4px;
    h4{
      margin: 0;
    }
  }

  .progressDark{
    height: 10px;
    margin-top: 5px;
    background-color: #111418;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    .progress{
      background-color: #20c997;
      padding: 2px;
    }
  }
}