@import "/src/styles/scss/variables";

.mainBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .container {
    border: 1px solid black;
    flex-wrap: wrap;
    min-height: 600px;
    width: 64%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1406px) {
      justify-content: center;
    }
    @media screen and (max-width: 937px) {
      flex-direction: column;
    }

    .text {
      max-width: 350px;
      color: $textColor;
      @media screen and (max-width: 1406px) {
        max-width: 350px;
      }
      @media screen and (max-width: 937px) {
        max-width: 300px;
      }

      h1 {
        color: $primaryColor;
      }

    }

    img {
      width: 400px;
      height: 400px;
      @media screen and (max-width: 1406px) {
        width: 250px;
        height: 300px;
        @media screen and (max-width: 937px) {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
