@import "/src/styles/scss/variables";
@import "/src/styles/scss/mixins";

.contactBlock {
  min-height: 400px;
  background-color: $bgFirstColor;

  .container {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;

    .form {
      display: flex;
      height: 350px;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid crimson;

      .title {
        @include title
      }

      .contacts {
        @include container(space-evenly, 50%);
        min-width: 200px;
        border: 1px solid #d5c6d3;

        input, textarea {
          width: 95%;
          font-size: 17px;
        }

        textarea {
          height: 60%;
        }

      }
    }
  }
}