@import "/src/styles/scss/variables";
@import "/src/styles/scss/mixins";

.contactBlock {
  min-height: 500px;
  background-color: $bgFirstColor;

  .container {
    min-height: inherit;
    width: 80%;
    margin: 0 auto;

    .form {
      display: flex;
      min-height: inherit;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .title {
        @include title
      }

      .contacts {
        min-width: 350px;
        width: 60%;
        display: flex;
        flex-direction: column;

        input, textarea {
          border-color: #232a31;
          background: #232a31;
          color: $primaryColor;
          margin-top: 5px;
          font-size: 17px;
          padding: 5px;

          &:focus {
            border-color: #136dcc;
          }
        }

        .info {
          display: flex;
          min-width: 300px;
          justify-content: space-between;
          input {
            width: 47%;
          }
        }

        textarea {
          min-width: 300px;
        }

        .btn {
          text-align: center;
          margin: 11px auto;
          background-color: #20c997;
          border-color: #20c997;
          cursor: pointer;
          padding: 6px 40px;
          font-weight: 500;
          border-width: 2px;
          transition: all 0.5s ease;
          border-radius: 20px;
          color: $primaryColor;
          line-height: 1.5;
          font-size: 15px;

          &:hover {
            background-color: #2b9f78;
            border-color: #2b9f78;
          }
        }
      }
    }
  }
}