.img{
    width: 300px;
    height: auto;
}
.project{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items: center;
}
.project button{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}