@import "/src/styles/scss/variables";

.headerBlock {
  height: 60px;
  width: 100%;
  background-color: $bgFirstColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}