@import "/src/styles/scss/variables";

.worksBlock {
  min-height: 300px;
  background-color: $bgSecondColor;
  color: $primaryColor;

  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .works {
      display: flex;
      justify-content: space-between;
      width: 80%;
      flex-wrap: wrap;
      position: relative;
      @media screen and (max-width: 1406px) {
        justify-content: center;
      }
    }

    .title {
      font-weight: 600;
      color: $primaryColor;
      line-height: 1.5;

      &:after {
        content: '';
        display: block;
        width: 80%;
        height: 5px;
        margin: 0 auto;
        background-color: #20c997;
      }
    }
  }

}
