@import "/src/styles/scss/variables";
@import "/src/styles/scss/mixins";

.worksBlock {
  min-height: 500px;
  background-color: $bgSecondColor;
  color: $primaryColor;

  .container {
    min-height: inherit;
    margin-top: 150px;
    @include container(flex-start, 80%);

    .works {
      margin-top: 8%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      flex-wrap: wrap;
      position: relative;
      @media screen and (max-width: 1406px) {
        justify-content: center;
      }
    }

    .title {
      @include title
    }
  }

}
