.worksBlock {
    min-height: 300px;
    background-color: #212529;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.works {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    position: relative;
}

.title {
    font-weight: 600;
    color: #fff;
    line-height: 1.5
}

.title:after {
    content: '';
    display: block;
    width: 80%;
    height: 5px;
    margin: 0 auto;
    background-color: #20c997;
}

@media screen and (max-width: 1406px) {
    .works {
        justify-content: center;
    }
}