.footerBlock{
    background-color: #f313cf;
    height: 200px;
}
.container{
    width: 80%;
    height: 100%;
    border: 1px solid;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.logos{
    width: 250px;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
}
.logos img{
    width: 40px;
    height: 40px;
}