@import "/src/styles/scss/variables";
@import "/src/styles/scss/mixins";

.footerBlock {
  background-color: $bgSecondColor;

  .container {
    @include container(space-evenly, 80%);
    padding: 10px;
    .title {
      @include title
    }

    .logos {
      width: 250px;
      display: flex;
      justify-content: space-evenly;
      img {
        border: 2px solid transparent;
        border-radius: 15px;
        width: 40px;
        height: 40px;
        &:hover{
          border: 2px solid #20c997;
        }
      }
    }
  span{
    color: $textColor;
  }
  }
}
