@import "/src/styles/scss/variables";

@mixin container($jC, $w) {
  height: 100%;
  width: $w;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: $jC;
}

@mixin title() {
  font-weight: 600;
  color: $primaryColor;
  line-height: 1.5;
  &:after {
    content: '';
    display: block;
    width: 80%;
    height: 5px;
    margin: 0 auto;
    background-color: #20c997;
  }
}