.nav {
    border: 1px solid red;
    display: flex;
    min-width: 40%;
    justify-content: space-evenly;
}

.nav a {
    color: rgba(250, 250, 250, 0.9);
    text-decoration: none
}

.nav a:hover {
    color: #20c997;
    transition: all 0.2s ease
}