.nav {
  display: flex;
  min-width: 40%;
  justify-content: space-evenly;

  a {
    color: rgba(250, 250, 250, 0.9);
    text-decoration: none;

    &:hover {
      color: #20c997;
      transition: all 0.2s ease;
    }
  }
   .active{
    color: #20c997;
  }
  @media screen and (max-width:1406px ){
    min-width: 612px;
    justify-content: space-between;
  }
  @media screen and (max-width:953px ){
    min-width: 355px;
  }
  @media screen and (max-width:410px ){
    min-width: 310px;
  }
}
